@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    font-size: 18px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
}
.section-title{
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.description{
    font-size: 16px;
    color: #757575;
    text-align: center;
}
/* header style start */
header{
    background-color: #FFF8F3;
    background-image: url(/img/header-background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px 0;
}
h2{
    font-size: 45px;
    font-weight: 900;
}
h2 span{
    color: #FD6E0A;
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #181818;
}
/* end */

/* hero style start  */
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 100px 0 100px;
}
.hero-personal-info h3{
    color: #474747;
    font-size: 45px;
}
.hero-personal-info h1{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000;
}
.hero-personal-info p{
    color: #181818;
    line-height: 23px;
}
.hero-personal-info button{
    margin-top: 15px;
    margin-right: 5px;
}
.hero-personal-info i{
    margin-right: 5px;
}
.hero-profile{
    margin-right: -50px;
}
.hero-profile img{
    width: 500px;
    margin-bottom: -5px;
    margin-right: -70px;
}
.developer-img{
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
}
/* end */

/* about me section style */
.about-me{
    width: 65%;
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px auto;
    text-align: center;
}
.about-desc{
    font-size: 18px;
    margin: 35px 0;
}
.about-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-info-container h4{
    margin-bottom: 20px;
}
/* end */


/* what I do section style */
.what-i-do-section{
    width: 85%;
    margin: 0 auto;
}
.what-i-do-desc{
    width: 72%;
    margin: 50px auto;
    font-size: 18px;
}
.what-i-do-skills-items{
    display: flex;
}
.what-i-do-skills-items .all-items{
    padding: 30px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: white;
}
.what-i-do-skills-items .all-items h3{
    margin: 20px 0;
}
.what-i-do-skills-items .all-items p{
    color: #757575;
/* end */

